@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$font-stack: 'Fira Code', monospace;

body {
    font: 100% $font-stack;
    font-size: 1em;
    margin: 0 auto;
    max-width: 55em;
    line-height: 1.5;
    padding: 2em;
    background-color: #ebdbb2;
    color: #3c3836;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #83a598;
}

h3 {
    font-size: 1.2em;
}

// Header Styles

.nav {
    display: flex;
    align-items: center;
    margin-top: 0em;
    margin-bottom: 8em;
    height: 3em;
}

.nav-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-image {
    flex-basis: 40%;
}

.nav-items {
    display: flex;
    margin-left: auto;
    list-style: none;
}

.nav-item {
    font-weight: bold;
    margin-left: 3em;
}

.nav-item-link {
    text-decoration: none;
    outline-offset: 1em;
    color: #83a598;
}

.nav-item:hover {
    text-decoration: underline;
    color: #83a598;
}

// Footer Styles

.footer {
    text-align: center;
}